
.row.marketing
        .col-lg-3
          h4 Use Evenbrite
          |                   
          p
            a.text-body-small How It Works
          |                   
          p
            a.text-body-small For Large &amp; Complex Events
          |                   
          p
            a.text-body-small Pricing
          |                   
          p
            a.text-body-small Community Guidekines
          |                   
          p
            a.text-body-small Evenbrite Mobile App
          |                   
          p
            a.text-body-small Evenbrite Check-In App
          |                   
          p
            a.text-body-small Evenbrite Spectrum
          |                   
          p
            a.text-body-small Rally - Fun Things To Do
          |                   
          p
            a.text-body-small Event Organizing Resources
          |                   
          p
            a.text-body-small Sitemap
        |         
        |                 
        .col-lg-3
          h4 Plan Events
          |                   
          p
            a.text-body-small Conference Management Software
          |                   
          p
            a.text-body-small Reunions
          |                   
          p
            a.text-body-small Nonprofits &amp; Fundraisers
          |                   
          p
            a.text-body-small Eventbrite Reviews
          |                   
          p
            a.text-body-small Sell Tickets
          |                   
          p
            a.text-body-small Event Management &amp; Planning
          |                   
          p
            a.text-body-small Online Event Registration
          |                   
          p
            a.text-body-small Online RSVP
          |                   
          p
            a.text-body-small Venue Booking &amp; Management
          |                   
          p
            a.text-body-small Event Promotion
        |                 
        .col-lg-3
          h4 Find Events
          |                   
          p
            a.text-body-small Boston Events
          |                   
          p
            a.text-body-small Chicago Events
          |                   
          p
            a.text-body-small Denver Events
          |                   
          p
            a.text-body-small Houston Events
          |                   
          p
            a.text-body-small Los Angeles Events
          |                   
          p
            a.text-body-small Nashville Events
          |                   
          p
            a.text-body-small New York Events
          |                   
          p
            a.text-body-small San Diego Events
          |                   
          p
            a.text-body-small San Francisco Events
          |                   
          p
            a.text-body-small  All Cities
        |                 
        .col-lg-3
          h4 Connect With Us
          |                   
          p
          

            a.text-body-small 
             i.ico-email-badge(aria-hidden='true') Contact Support
          |                   
          p
            a.text-body-small Contact Sales
          |                   
          p
            a.text-body-small 
            i.fa.fa-twitter(aria-hidden='true') Twitter
          |                   
          p
            a.text-body-small 
            i.fa.fa-facebook(aria-hidden='true')  Facebook
          |                   
          p
            a.text-body-small LinkedIn
          |                   
          p
            a.text-body-small Instagram
          |                   
          p
            a.text-body-small 
             i.fa.fa-google-plus(aria-hidden='true') Google+


.footer
  .container 
  p.footer-copyright.text-body-medium &copy; 2017 Eventbrite