
.row.marketing
        .col-lg-3
          h4 Use Evenbrite
          |                   
          p
            a.text-body-small How It Works
          |                   
          p
            a.text-body-small For Large &amp; Complex Events
          |                   
          p
            a.text-body-small Pricing
          |                   
          p
            a.text-body-small Community Guidekines
          |                   
          p
            a.text-body-small Evenbrite Mobile App
          |                   
          p
            a.text-body-small Evenbrite Check-In App
          |                   
          p
            a.text-body-small Evenbrite Spectrum
          |                   
          p
            a.text-body-small Rally - Fun Things To Do
          |                   
          p
            a.text-body-small Event Organizing Resources
          |                   
          p
            a.text-body-small Sitemap
        |         
        |                 
        .col-lg-3
          h4 Plan Events
          |                   
          p
            a.text-body-small Conference Management Software
          |                   
          p
            a.text-body-small Reunions
          |                   
          p
            a.text-body-small Nonprofits &amp; Fundraisers
          |                   
          p
            a.text-body-small Eventbrite Reviews
          |                   
          p
            a.text-body-small Sell Tickets
          |                   
          p
            a.text-body-small Event Management &amp; Planning
          |                   
          p
            a.text-body-small Online Event Registration
          |                   
          p
            a.text-body-small Online RSVP
          |                   
          p
            a.text-body-small Venue Booking &amp; Management
          |                   
          p
            a.text-body-small Event Promotion
        |                 
        .col-lg-3
          h4 Find Events
          |                   
          p
            a.text-body-small Boston Events
          |                   
          p
            a.text-body-small Chicago Events
          |                   
          p
            a.text-body-small Denver Events
          |                   
          p
            a.text-body-small Houston Events
          |                   
          p
            a.text-body-small Los Angeles Events
          |                   
          p
            a.text-body-small Nashville Events
          |                   
          p
            a.text-body-small New York Events
          |                   
          p
            a.text-body-small San Diego Events
          |                   
          p
            a.text-body-small San Francisco Events
          |                   
          p
            a.text-body-small  All Cities
        |                 
        .col-lg-3
          h4 Connect With Us
          |                   
          p
          

            a.text-body-small 
             i.ico-email-badge(aria-hidden='true') Contact Support
          |                   
          p
            a.text-body-small Contact Sales
          |                   
          p
            a.text-body-small 
            i.fa.fa-twitter(aria-hidden='true') Twitter
          |                   
          p
            a.text-body-small 
            i.fa.fa-facebook(aria-hidden='true')  Facebook
          |                   
          p
            a.text-body-small LinkedIn
          |                   
          p
            a.text-body-small Instagram
          |                   
          p
            a.text-body-small 
             i.fa.fa-google-plus(aria-hidden='true') Google+

 
block final_1
 h4 Country
    button.btn.btn-link(type='button') Argentina
    button.btn.btn-link(type='button') Australia
    button.btn.btn-link(type='button') Brasil
    button.btn.btn-link(type='button') Canada(EN)
    button.btn.btn-link(type='button') Canada(FR)
    button.btn.btn-link(type='button') Chile
    button.btn.btn-link(type='button') Colombia
    button.btn.btn-link(type='button') Deutschland
    button.btn.btn-link(type='button') Espana
    button.btn.btn-link(type='button') France
    button.btn.btn-link(type='button') Hong kong
    button.btn.btn-link(type='button') Ireland
    button.btn.btn-link(type='button') Italia
    button.btn.btn-link(type='button') Mexico
    button.btn.btn-link(type='button') Nederland
    button.btn.btn-link(type='button') New Zealand
    button.btn.btn-link(type='button') Peru
    button.btn.btn-link(type='button') Portugal
    button.btn.btn-link(type='button') Singapore
    button.btn.btn-link(type='button') United Kingdom
    button.btn.btn-link(type='button') United States
    block finalhr_2
    hr
    block final_2
    button.btn.btn-link(type='button') About
    button.btn.btn-link(type='button') Blog
    button.btn.btn-link(type='button') Help
    button.btn.btn-link(type='button') Careers
    button.btn.btn-link(type='button') Press
    button.btn.btn-link(type='button') Security
    button.btn.btn-link(type='button') Developers
    button.btn.btn-link(type='button') Terms
    button.btn.btn-link(type='button') Privacy
    button.btn.btn-link(type='button') Cookies
    block finalbutton
    button.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown')
      | United States
    .dropdown-menu
      a.dropdown-item(href='#') Argentina
      a.dropdown-item(href='#') Australia
      a.dropdown-item(href='#') Brasil
      a.dropdown-item(href='#') Canada(EN)
      a.dropdown-item(href='#') Canada(FR)
      a.dropdown-item(href='#') Chile
      a.dropdown-item(href='#') Colombia
      a.dropdown-item(href='#') Deutschland
      a.dropdown-item(href='#') Espana
      a.dropdown-item(href='#') France
      a.dropdown-item(href='#') Hong kong
      a.dropdown-item(href='#') Ireland
      a.dropdown-item(href='#') Italia
      a.dropdown-item(href='#') Mexico
      a.dropdown-item(href='#') Nederland
      a.dropdown-item(href='#') New Zealand
      a.dropdown-item(href='#') Peru
      a.dropdown-item(href='#') Portugal
      a.dropdown-item(href='#') Singapore
      a.dropdown-item(href='#') United Kingdom
      a.dropdown-item(href='#') United States

.footer
  .container 
  p.footer-copyright.text-body-medium &copy; 2017 Eventbrite