.header.clearfix
  nav.navbar.navbar-expand-md.fixed-top
    .container
      a.navbar-brand(href="/") Eventbrite
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/questions') CREATE EVENTS          
          li.nav-item.dropdown
                 a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button') ORGANIZE
                 .dropdown-menu
                  a.dropdown-item(href='https://www.eventbrite.com/organizer/overview/') Overview               
                  a.dropdown-item(href='https://www.eventbrite.com/organizer/pricing/') Pricing               
                  a.dropdown-item(href='https://www.eventbrite.com/blog/') Blog                      
                  a.dropdown-item(href='https://www.eventbrite.com/blog/academy/') Resoreces
          li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button') HELP                         
                .dropdown-menu
                  a.dropdown-item(href='https://www.eventbrite.com/support/articles/en_US/Troubleshooting/where-are-my-tickets?lg=en_US') Where are my tickets?                
                  a.dropdown-item(href='https://www.eventbrite.com/support/articles/en_US/How_To/how-to-contact-the-event-organizer?lg=en_US') How to contact the event organizer                           
                  .dropdown-divider                           
                  a.dropdown-item(href='https://www.eventbrite.com/support') Help Center

          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') SIGN IN
            li.nav-item
              a.nav-link(href='/users/new') SIGN UP
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) My Profile
            li.nav-item
              a.nav-link(href='/signout') Signout
        
          
