extends layout

block hero-unit
  .jumbotron
    .container
     #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
      .carousel-caption.d-none.d-md-block
        #homepage-search-card.card
          .carousel-inner
            h1.homepage-header Fine your next experience
        nav.navbar.navbar-light.bg-light
          form.form-inline
            .btn-group(role='group', aria-label='Button group with nested dropdown')
              input.form-control.mr-sm-2(type='text', placeholder='Search events or categories', aria-label='Search')
              |                     
              input.form-control.mr-sm-2(type='text', placeholder='City or location', aria-label='Search')
              |                       
              .dropdown
                button.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown')
                  | All Dates
                |                     
                .dropdown-menu
                  a.dropdown-item(href='#') All Dates
                  |                       
                  a.dropdown-item(href='#') Today
                  |                       
                  a.dropdown-item(href='#') Tomorrow
                  |                       
                  a.dropdown-item(href='#') This Week
                  |                       
                  a.dropdown-item(href='#') This Weekend
                  |                       
                  a.dropdown-item(href='#') Next Week
                  |                       
                  a.dropdown-item(href='#') Next Month
              |                   
              button.btn.btn-outline-warning(type='submit') Search
              |                   
              .dropdown-menu
                a.dropdown-item(href='#') Blog
                |                     
                a.dropdown-item(href='#') Resources
                |                     
                a.dropdown-item(href='#') Fees
                |                     
                a.dropdown-item(href='#') How it works
                |                     
                a.dropdown-item(href='#') Features
                |                     
                a.dropdown-item(href='#') Music Ticketing
      |                 
      |     
      .carousel-item.active
        img.d-block.w-100(src='https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg', alt='First slide')
      |     
      .carousel-item
        img.d-block.w-100(src='https://cdn.evbstatic.com/s3-build/perm_001/aa36c3/django/images/home/banners/homepage_hero_banner_2.jpg', alt='Second slide')
      |     
      .carousel-item
        img.d-block.w-100(src='https://cdn.evbstatic.com/s3-build/perm_001/6812b9/django/images/home/banners/homepage_hero_banner_3.jpg', alt='Third slide')
      |     
      .carousel-item
        img.d-block.w-100(src='https://cdn.evbstatic.com/s3-build/perm_001/99ca9f/django/images/home/banners/homepage_hero_banner_4.jpg', alt='Forth slide')
    |  
    
      
block content
  .container
      blockquote.blockquote.text-center
        h3.section-header.l-align-center(aria-label='Events for you in  Seoul, Republic of Korea')
          span Events for you in                
          a.js-consumer-location-link(href='#')
            | Seoul, Republic of Korea

  .container
    .row
      .col-md-4
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F35129999%2F139848101790%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C4%2C484%2C242&s=88cc975feb3f29f0fdd322d1f9832a74', alt='Card image cap')
                
          .card-body
            p.card-text
              small.text-muted THU, NOV 9 9:00 AM
                     
                    
            p.card-text GMP and Regulatory Expectations for Early IND Products 2017
                   
            p.card-text
              small.text-muted Seoul, Seoul
                
            p.card-text
              small.text-muted #Health #Conference
   

      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |     
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34893292%2F201289144405%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C49%2C1082%2C541&s=267304f3b7554534889e1c3983b9d4a6', alt='Card image cap')
          |     
          |       
          .card-body
            p.card-text
              small.text-muted WED, DEC 20 6:00 PM
            |  
            |         
            p.card-text Innovations in AgTech (Seoul)
            |         
            p.card-text
              small.text-muted We Work Euljiro, Seoul
            |  
            |         
            p.card-text
              small.text-muted #ScienceTech #Conference
      |     
      .col-md-4
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36353019%2F227861081994%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C1800%2C900&s=5f2b83d86a3309f7fd94f31b4591641a', alt='Card image cap')
          |      
          |   
          |     
          .card-body
            p.card-text
              small.text-muted FRI, OCT 20 6:00 PM
            |  
            |         
            p.card-text StartupToken Asia Tour 2017 - Seoul Edition
            |         
            p.card-text
              small.text-muted MARU180, Gangnam gu
            |  
            |         
            p.card-text
              small.text-muted #ScienceTech #Seminar
      |     
      |     
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |         
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F35881929%2F165073140627%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C1372%2C686&s=1d4ecdcca84db1bb3cbf6aa3a1e9fc8a', alt='Card image cap')
          |     
          |           
          .card-body
            p.card-text
              small.text-muted THU, OCT 19 10:00 AM
            |  
            |             
            p.card-text Google Cloud Platform Fundamentals: Core Infrastructure
            |             
            p.card-text
              small.text-muted &#xAD6C;&#xAE00; &#xCF54;&#xB9AC;&#xC544;, &#xC11C;&#xC6B8;
            |  
            |             
            p.card-text
              small.text-muted #ScienceTech #Class
      |         
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
             
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34550985%2F189399093612%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C4%2C598%2C299&s=899dc320ffbe0d53d0c37bb663e6a054', alt='Card image cap')
              
                
          .card-body
            p.card-text
              small.text-muted THU, DEC 7 9:30 AM
              
                     
            p.card-text 505(b)(2) Seminar | Seoul
                     
            p.card-text
              small.text-muted Grand InterContinental Seoul Parnas, Seoul
              
                     
            p.card-text
              small.text-muted #ScienceTech #Networking
      |     
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |         
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36457873%2F30310122989%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C36%2C702%2C351&s=9edf2d7fa45cc7def36a4c34fe01f1ab', alt='Card image cap')
          |         
          |           
          .card-body
            p.card-text
              small.text-muted SUN, OCT 15 3:30 PM
            |  
            |             
            p.card-text Seoul Smart Contract and Blockchain Disruptors - DGCAMP- 15 October 2017
            |             
            p.card-text
              small.text-muted 9 Seocho-Dareo 77-Gill, Seoul
            |  
            |             
            p.card-text
              small.text-muted #ScienceTech #Networking
      |     
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |         
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099940%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=af78eb586f50014c52a880920004305c', alt='Card image cap')
          |     
          |            
          .card-body
            p.card-text
              small.text-muted SAT, OCT 21 7:00 PM
            |  
            |                     
            p.card-text Grease, School Edition - Octover 21, 2017
            |                     
            p.card-text
              small.text-muted Seoul Foreign School | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;, Yeonhui-ro 22-gil
            |  
            |                     
            p.card-text
              small.text-muted #Arts #Performance
      |     
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |         
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34331050%2F113026609461%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C30%2C368%2C184&s=54cd6bcd25aa705d8c8a31b5892cfd0f', alt='Card image cap')
          |         
          |            
          .card-body
            p.card-text
              small.text-muted SUN, OCT 15 11:30 PM
            |  
            |                   
            p.card-text
              | Premium Training Program - Big Data With Hadoop &amp; Spark Certification - Live Instructor Led Classes | Certification &amp; Project Included | 100% Moneyback Guarantee | Seoul, Korea tickets
            |                    
            p.card-text
              small.text-muted Seoul
            |  
            |                    
            p.card-text
              small.text-muted #ScienceTech #Class 
      |     
      .col-md-4
        a(href='https://www.eventbrite.com/e/gmp-and-regulatory-expectations-for-early-ind-products-2017-tickets-37751066456?aff=ehomecard')
        |         
        .card
          img.card-img-top(src='https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36346708%2F59307985005%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C33%2C266%2C133&s=4649e5f492199c0bb8e436ae15cd99bd', alt='Card image cap')
          |         
          |            
          .card-body
            p.card-text
              small.text-muted MON, OCT 30 11:00 AM
            |  
            |                  
            p.card-text Seoul Big Data Training | Hadoop Training - Omni212 tickets
            |                  
            p.card-text
              small.text-muted Instructor Ied Online | Video Conference, Seoul
            |  
            |                  
            p.card-text
              small.text-muted #ScienceTech #Class 
    
      .container      
        a.btn.btn-sm.btn-primary(href='#', role='button') SEE MORE
        
    blockquote.blockquote.text-center
      | Browse by Top Categories



      
      