@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 50px;
  padding-top: 1em;
  & > .main-content {
    min-height: 400px;
  }
}


a:hover {
  text-decoration: none;
}

.jumbotron {
  margin-top: -1em;
  background: url('/images/bg.jpg') no-repeat left center;
  min-height: 20em;
 // color: #fff;
  //text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.footer {
  margin-top: 1em;
  padding-top: 1em;
  
  color: #aaa;
  border-top: .05rem solid #e5e5e5;
}

.main-title {
  font-family: 'briteicons';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  padding: 15px;
}
.main-title_event{

  font-size: 2rem;
  margin: 1em 1em 0.5em 0;
  border-bottom: 1px solid #eee;
  padding: 15px;
}


.header > .navbar {
  background-color: #FFFFFF!important;
}

.search-input-group{
  margin: 1em 0;
  width: 100%;
  position: relative;
  input { 
    border-radius: 2em;
    padding-left: 2.5em;
    width: 100%!important;
  }
  i {
    font-size: 1.3em;
    top: 0.4em;
    left: 0.5em;
    color: #bababa;
    position: absolute;
  }

} 

h1.homepage-header {
  font-weight: 200;
  color: #f86820;
  font-size: 45px;
}

.row.marketing {
  
   color: #666a73;
   color: #ADB0B6;
   position: relative;
  
   background: #282C35;
   padding-top: 25px;
   padding-bottom: 25px;
   padding: 2em;

   
}
.cardimg {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}
.card1{
  color: #666a73;
  color: #ADB0B6;
  position: relative;
  border-top: #666A73 solid 1px;
  background: #282C35;
  padding-top: 25px;
  padding-bottom: 25px;
  .h4{
    padding: 2em;
  }
  padding: 2.5em;

}
.card2{
  color: #666a73;
  color: #ADB0B6;
  position: relative;
  border-top: #666A73 solid 1px;
  background: #282C35;
  padding-top: 25px;
  padding-bottom: 25px;
  .h4{
    padding: 2em;
  }
  padding: 2.5em;

}

.card3 {
  color: #666a73;
  color: #ADB0B6;
  position: relative;
  border-top: #666A73 solid 1px;
  background: #282C35;
  padding-top: 25px;
  padding-bottom: 25px;
  .footer {
    margin-top: 1em;
    padding-top: 1em;
    
    color: #aaa;
    border-top: .05rem solid #e5e5e5;
  }

}
div.row.marketing.a {
   color: #D2D6DF;
}

div.carousel-inner{
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  width:100%;
  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;


}

a.navbar-brand{
  color: #f6682F;
  font-size: 25px;
  line-height: 1.4;
  font: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  vertical-align: baseline;
  //padding-left: -2em;
  margin-left: -1.5em;
}
.nav-item {
  text-transform: uppercase;
  border-left: 1px solid #EFF2F5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  color: #45494E;
  
}

 
button.btn.btn-outline-warning{ 
  
font-weight: 600;
color: #fff;
background-color: #f6682F;
box-sizing: border-box;
width: 200px;
border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    margin-top: 0;
    .btn-group {
    vertical-align: middle;
    }
}

ul.navbar-nav.ml-auto{

  color: #f6682F;
    
     line-height: 1.4;
}

.nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top{
  color: #f86820;

}

p.footer-copyright.text-body-medium{
font-size: 15px;
line-height: 22px;
font-weight: 400;
margin: 10;
padding: 0;
text-align: center;
color: #ADB0B6;
 }
 
a.btn.btn-sm.btn-primary {
  color: #0278b8;
  background-color: transparent;
  border: 2px solid #0278b8;
  padding: 9px 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: 22px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  
 }

//  .btn.btn-primary{
//   text-align: center;
//   color: #0278b8;
//   background-color: transparent;
//   border: 2px solid #0278b8;
//   padding: 9px 18px;
//   display: inline-block;
//   vertical-align: middle;
//   text-align: center;
//   text-decoration: none;
//   line-height: 22px;
//   font-weight: 600;
//   font-size: 14px;
//   text-transform: uppercase;
//   border-radius: 3px;
//  }

 blockquote.blockquote.text-center{

  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: .5px;
  font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  color: #666a73;

 }



