.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="Givi it a short distinct name?", value=question.title)
.form-group
  label(for="title") LOCATION
  input.form-control(type="text", name="title", placeholder="Searcn for a venue or address.", value=question.title)